<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxj.ip.mapper.UserMapper">
    <sql id="user">user</sql>
    <sql id="user_role">user_role</sql>
    <select id="selectUser" resultType="user">
        SELECT * from <include refid="user"/> where id = #{userId}
    </select>

    <select id="getUserRoleById" resultType="user_role">
        SELECT * from <include refid="user_role" /> where user_id = #{userId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="user"/>
          (name, version, last_access)
        VALUES
          (#{name}, 1, #{lastAccess})
    </insert>
</mapper>